[submodule "tracktion_engine"]
	path = server/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
[submodule "fluid-music/fluid-music.github.io"]
	path = fluid-music/fluid-music.github.io
	url = git@github.com:fluid-music/fluid-music.github.io.git
